*{
    margin: 0px;
    padding: 0px;
}
.inicio {
    background-color: skyblue;
}
.Novedades {
    background-color: turquoise;
}
.guias {
    background-image: url(https://1.bp.blogspot.com/-YgQcH40g8kA/V_vThoD7NEI/AAAAAAAAAcs/cvsSH1Lz6xY829R3nG5t1FS2n4g-85nhwCLcB/s1600/GAME_ON__Widescreen_.jpg);
    background-size: cover;
}

.juego{
    border: 2px black double;
    width: 300px;
    height: 400px;
    margin: 15px 10px;
    padding: 5px 5px;
}
.textoProductos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: red;
    text-transform: uppercase;
}
.productos{
    background-color: turquoise;
}
iframe{
    width: 400px;
    height: 300px; 
}
.linkNovedades{
    color: aliceblue;
    list-style: lower-roman;
}
.guiasNovedades{
    text-align: center;
    color: skyblue;
}
a{
    text-decoration: none;
}
.logo{
    width: 120px;
    margin-top: 8px;
}
h1{
    text-align: center;
    color: darkcyan;
 }
form{
    margin-left: 400px;
}
section{
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
}
footer{
    display:flex;
}
main{
    display: flex;
    align-items: center;
}
nav{
    background-color: black;
    padding: 10px;
}
.enlaceNav{
    background: sandybrown;
    color: aquamarine;
    padding: 10px 30px;
    font-size: large;
}

.menuInicio{
    width: 80%;
    height: 70px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}

nav ul{
      display: flex;
}
nav ul li a{
    color: black;
    display: block;
    margin:  0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}
nav ul li a:hover{
    background-color: cornflowerblue;
}
.menuHam{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}
.menuHam:hover{
    background-color: bisque;
}
.menuHam div{
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background-color: black;
}

label{
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
}